<div class="container">
  <!-- Foto de Perfil -->
  <div class="profile-container">
    <img src="assets/foto_perfil.jpeg" alt="Foto de [Lucas Coelho]">
  </div>

  <!-- Título -->
  <h2>Sobre Mim - Lucas Coelho</h2>

  <!-- Descrição -->
  <p>
    Sou Lucas Coelho, desenvolvedor front-end com foco em Angular e TypeScript. Tenho experiência na criação de
    interfaces modernas, responsivas e escaláveis, garantindo performance e usabilidade. Atualmente, atuo na Syllos
    Company, onde desenvolvo integrações eficientes e soluções otimizadas para sistemas web.
  </p>

  <p>
    Sou formado em Sistemas de Informação pela FIAP, já trabalhei na Vivest e Contmatic Phoenix, aprimorando habilidades em componentização, otimização de renderização e
    boas práticas como SOLID e Design Patterns. Além de Angular, possuo conhecimento em React, JavaScript, SCSS,
    Bootstrap e consumo de APIs REST.
  </p>

  <!-- Skills Técnicas -->
  <div class="skills-container">
    <h3 class="skills-title">🔧 Skills Técnicas</h3>
    <ul class="skills-list">
      <li>💻 Front-end: Angular, React, TypeScript, SCSS, CSS</li>
      <li>🛠️ Back-end: Java (Spring Boot), Node.js, Python</li>
      <li>📡 Banco de Dados: SQL, MongoDB, PL/SQL</li>
      <li>⚙️ DevOps: Nginx, Docker, Integração Contínua, AWS (Amazon Web Services)</li>
      <li>📌 Princípios: SOLID, Design Patterns, Clean Code</li>
    </ul>
  </div>

  <!-- Botões -->
  <div class="buttons">
    <a href="https://www.linkedin.com/in/lucas-coelho-galhanone-7106bb1a4/" target="_blank">
      <button>🔗 LinkedIn</button>
    </a>
    <a href="https://github.com/lucasCoelho245" target="_blank">
      <button>📂 GitHub</button>
    </a>
  </div>
</div>
